.main-content {
  margin-top: 50px;
  .content-list {
    width: 680px;
    float: left;
    .list-img {
      height: 274px;
      margin: 0px 20px;
      margin-bottom: 30px;
      background-color: darkgreen;
      position: relative;
      overflow: hidden;
      // .arrows {
      //   position: absolute;
      //   padding-top: 90px;
      //   width: 640px;
      //   span {
      //     font-size: 3em;
      //     color:  rgba(149,157,153);
      //     padding: 20px;
      //     &:hover {
      //       cursor: pointer;
      //       color: rgba(232, 233, 233);
      //     }
      //   }
      // }
      // .ul_img {
      //   width: 6000px;
      //   padding: 0px;
      //   margin: 0px;
      //   transition: all 2s;
      //   .li_img {
      //     width: 640px;
      //     float: left;
      //     list-style: none;
      //     height: 274px;
      //     background-color: darkgreen;
      //   }
      // }
      // .img-button {
      //   position: absolute;
      //   bottom: 10px;
      //   left: 35%;
      //   .div_btn {
      //     float: left;
      //     background-color: rgba(149,157,153);
      //     width: 35px;
      //     height: 5px;
      //     margin-left: 10px;
      //     cursor: pointer;
      //   }
      //   .div_btn:hover {
      //     background-color: rgba(232, 233, 233);
      //   }
        .list-img-banner {
          height: 100%;
          width: 100%;
        }      
      }
    }
  .content-menu {
    float: left;
  }
}