.list-info {
  margin-bottom: 40px;
  .info-ul {
    padding: 10px;
    margin: 10px;
    .info-li {
      height: 160px;
      margin-bottom: 30px;
      list-style-type: none;
      background-color: #eeeeee;
      padding-left: 12px;
    }
    .info-li-info {
      width: 470px;
      height: 160px;
      float: left;
      text-align: left;
      .ant-avatar {
        width: 30px;
        height: 30px;
        // display: inline-block;
        margin-right: 10px;
        // border-radius: 50%;
      }
      .info-title {
        padding-top: 20px;
        font-weight: 500;
        cursor: pointer;
        a {
          color: #323232;
          font-size: 26px;
          &:hover {
            border-bottom: 1px solid;
            color: #000000;
          }
        }
      }
      .info-content {
        margin-right: 20px;
        color: #393e46;
      }
      .user-hover {
        &:hover {
          font-weight: 800;
          cursor: pointer;
        }
      }
      .info-recode {
        margin-top: 15px;
        .under-line {
        margin-right: 20px;
        color: #393e46;
        font-size: 17px;
        font-weight: 600;
        .like-icon {
          font-size: 18px;
          width: 23px;
        }
        
       }
        .remark-hover {
          cursor: pointer;
          .remark-icon {
            font-size: 18px;
            width: 23px;
          }
          &:hover {
            .remark-icon {
              color: #000000;
            }
            color: #000000;
            cursor: pointer;
          }
        }
      }
      
    }
    .info-li-img {
      height: 120px;
      width: 150px;
      float: right;
      margin-top: 20px;
      .left-img-banner {
        height: 100%;
        width: 100%;
      }
    }
  }
  .ant-pagination  {
    margin-right: 30px;
    float: right;
    margin-bottom: 40px;
    li {
      &:hover {
        border-color: #444444;
        a {
          color: #444444;
        }
      }
    }
    .ant-pagination-item-active {
      border-color: #444444;
      a {
        color: #444444;
      }
    }
    .ant-pagination-prev,.ant-pagination-next {
        a {
          &:hover{
            border-color: #444444;
            color: #444444;
          }
      }
    }
  }
}