#center-content {
  height: 100%;
  min-height: 600px;
  margin-top: 20px;
  .left-menu {
    float: left;
    width: 280px;
  }
  .center-user {
    margin-left: 280px;
    height: 100%;
    .list-info .info-ul {
      margin: 0;
    }
    .solution {
      padding: 10px;
      text-align: left;
      ul{
        list-style-type: none;
        li {
          height: 70px;
          line-height: 70px;
          border-bottom: 1px solid #d9d9d9;
          .check-img {
            position: absolute;
            left: 200px;
            line-height: 30px;
            top: 60px;
            font-size: 11px;
            .update-img {
              border: 1px solid;
              padding: 6px;
              cursor: pointer;
              border-radius: 3px;
            }
            .check-avatar {
              display: none;
            }
            .update-button {
              width: 200px;
              button{
                width: 70px;
                height: 28px;
                background-color: #fff;
                line-height: 24px;
                border: 1px solid;
                margin-right: 10px;
                cursor: pointer;
                border-radius: 3px;
              }
            }
          }
          .head-photo {
            position: absolute;
            top: 35px;
            left: 80px;
            height: 80px;
            width: 80px;
            border-radius: 50%;
            background-color: #fff;
            display: inline-block;
          }
          .edit-solution {
            float: right;
          }
        }
        li > span {
            color: #444;
            font-size: 15px;
            width: 100px;
            display: inline-block;
        }
        .text-solution {
          height: 50px;
          border: none;
          background-color: #f5f5f6;
          outline: none;
        }
      }
    }
    .password {
      width: 260px;
      margin: 0 auto;
      padding-top: 30px;
      .ant-input-affix-wrapper {
        margin-bottom: 20px;
      }
    }
  }
}
.ant-breadcrumb {
  margin-left: 60px;
  text-align: left;
}
