.login-page {
  height: 100%;
  min-height: 600px;
  
  .pic-box {
    float: left;
    background-size: cover;
    background-position: center 0;
    // background-image: url(/im+age/login.jpg);
    background-size: cover; 
    // .list-img-banner {
    //   margin-top: 30px;
    //   height: 100%;
    //   width: 100%;
    // }   
  }
  .login-box {
    font-family: Helvetica,Arial,Verdana,PingFang SC,Microsoft YaHei;
    font-size: 12px;
    .for-login{
      float: right;
      margin-right: 50px;
      margin-top: 70px;
      .title {
        padding-top: 30px;
        font-size: 30px;
        color: #373d41;
        letter-spacing: 1px;
        line-height: 36px;
      }
      .input {
        border: none;
        border-collapse: separate;
        overflow: visible;
        border: 1px solid #ebecec;
        width: 285px;
        line-height: 35px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        margin-top: 30px;
        color: #373D41;
        padding-left: 15px;
        font-size: 10px;
        outline: none;
      }
      .button {
        width: 300px;
        height: 35px;
        color: white;
        height: 40px;
        padding: 0 20px;
        font-size: 16px;
        line-height: 38px;
        border-width: 1px;
    	  border-style: solid;
        background-color: #373d41;
        border-color: transparent;
        margin-top: 30px;
        float: none;
        outline: none;
      }
      .other-way {
        width: 304px;
        height: 40px;
        margin: 30px auto;
        border-top: 1px solid #ebecec;
        .text {
          margin-top: 5px;
          float: left;
          font-size: 14px;
          color: #373D41;
          font-family: Helvetica,Arial,Verdana,PingFang SC,Microsoft YaHei;
        }
      }
      .verify {
        margin-left: auto;
        margin-right: auto;
        width: 344px;
        padding: 30px;
        line-height: 38px;
        .verify-button {
          width: 100px;
          height: 35px;
          color: white;
          height: 38px;
          font-size: 12px;    
          background-color: #373d41;
          border-color: transparent;
          float: right;
          display: inline;
          outline: none;
       }
       .verify-input {
          border: none;
          border-collapse: separate;
          overflow: visible;
          border: 1px solid #ebecec;
          width: 184px;
          float: left;
          height: 38px;
          color: #373D41;
          display: inline;
          padding-left: 15px;
          outline: none;
       }
      }
    }
  }
}